<style type="text/css">
    .header {
        background: #8a8a8a;
    }

    .header .columns {
        padding-bottom: 0;
    }

    .header p {
        color: #fff;
        padding-top: 15px;
    }

    .header .wrapper-inner {
        padding: 20px;
    }

    .header .container {
        background: transparent;
    }

    table.button.facebook table td {
        background: #3B5998 !important;
        border-color: #3B5998;
    }

    table.button.twitter table td {
        background: #1daced !important;
        border-color: #1daced;
    }

    table.button.google table td {
        background: #DB4A39 !important;
        border-color: #DB4A39;
    }

    .wrapper.secondary {
        background: #f3f3f3;
    }

    .two-column {
        text-align: center;
        font-size: 0;
    }

    .two-column .column {
        width: 100%;
        max-width: 300px;
        display: inline-block;
        vertical-align: top;
    }

    .contents {
        width: 100%;
    }

    .two-column .contents {
        font-size: 14px;
        text-align: left;
    }

    .two-column img {
        width: 100%;
        max-width: 280px;
        height: auto;
    }

    .two-column .text {
        padding-top: 10px;
    }

    .inner {
        padding: 10px;
    }

    table {
        border-spacing: 0;
        color: #333333;
        font-family: Arial, sans-serif;
    }
</style>

<div align="center">
    <wrapper class="header">
        <container>
            <row class="collapse">
                <columns small="6">
                    <img margin="auto" src="https://res.cloudinary.com/dxnd3uqlx/image/upload/v1601847591/HENRY_APP_j5g2mb.png"/>
                </columns>
            </row>
        </container>
    </wrapper>
</div>

<container>

    <row>
        <columns small="12">

            <table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%"
                style="border-spacing:0; border-left:1px solid #e8e7e5; border-right:1px solid #e8e7e5; border-bottom:1px solid #e8e7e5; padding: 10px"
                bg="#FFFFFF">

                <div width="350" height="150" align="center"
                    style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 50%;">
                    <a href="www.google.com"
                        style="width:250; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: #ffffff"
                        class="button_link">
                        <img src="http://www.pickmaid.com/dubai/assets/images/success-icon.png" width="60" height="60"
                            style="padding-top:5px" alt="" border="0" />
                    </a>
                </div>

                <tr>
                    <td align="center" style="padding:0px 40px 40px 40px">
                        <p
                            style="color:#262626; font-size:32px; text-align:center; font-family: Verdana, Geneva, sans-serif">
                            Hola <br> <%= name %>!</p>
                        <b
                            style="color:#000000; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif; line-height:22px ">
                            Estas cada vez mas cerca de cumplir tus sueños!<br />
                            Crea tu cuenta en la Henry App para que puedas comenzar con las clases</br></b>

                        <br />
                        </p>
                    </td>
                </tr>
                <tr style="margin-bottom: 20px">
                    <td align="center">
                        <table border="0" cellpadding="0" cellspacing="0" style="Margin:0 auto;">
                            <tr>
                                <td width="250" height="60" align="center" bgcolor="#F2E407"
                                    style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;">
                                    <a href="<%= url %>"
                                        style="width:250; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: black"
                                        class="button_link">Go Henry!!
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </columns>
    </row>
    <wrapper class="secondary">

        <spacer size="16"></spacer>

        <row>
            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color: #f8f7f7">
                <tr>
                    <td height="30">&nbsp;</td>
                </tr>
                <tr>
                    <td class="two-column"
                        style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;font-size:0;">
                        
                        <div class="column" style="width:100%;max-width:399px;display:inline-block;vertical-align:top;">
                            <table width="100%" style="border-spacing:0">
                                <tr>
                                    <td class="inner"
                                        style="padding-top:0px;padding-bottom:10px; padding-right:10px;padding-left:10px;">
                                        <table class="contents" style="border-spacing:0; width:100%">
                                            <tr>
                                                <td width="32%" align="center" valign="top" style="padding-top:10px">
                                                    <table width="150" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td width="33" align="center"><a
                                                                    href="https://www.facebook.com/HENRY-108437840594440/"
                                                                    target="_blank"><img
                                                                        src="https://gallery.mailchimp.com/fdcaf86ecc5056741eb5cbc18/images/51f10cc9-b6d3-409d-9a64-4080a155b8c7.jpg"
                                                                        alt="facebook" width="36" height="36" border="0"
                                                                        style="border-width:0; max-width:36px;height:auto; display:block; max-height:36px" /></a>
                                                            </td>
                                                            <td width="34" align="center"><a
                                                                    href="https://twitter.com/soyhenry_ok"
                                                                    target="_blank"><img
                                                                        src="https://gallery.mailchimp.com/fdcaf86ecc5056741eb5cbc18/images/f910c3b7-2369-4b33-87e8-90ba1748d47a.jpg"
                                                                        alt="twitter" width="36" height="36" border="0"
                                                                        style="border-width:0; max-width:36px;height:auto; display:block; max-height:36px" /></a>
                                                            </td>
                                                            <td width="33" align="center"><a
                                                                    href="https://www.linkedin.com/school/soyhenry/"
                                                                    target="_blank"><img
                                                                        src="https://gallery.mailchimp.com/fdcaf86ecc5056741eb5cbc18/images/0efcd6de-1324-4e05-871b-a93f6056f00e.jpg"
                                                                        alt="linkedin" width="36" height="36" border="0"
                                                                        style="border-width:0; max-width:36px;height:auto; display:block; max-height:36px" /></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="30">&nbsp;</td>
                </tr>
            </table>
        </row>

    </wrapper>
</container>