.infoTable{
    margin:auto;
    margin-top:20px;
    width:80%;
    height:200px;
}

.infoTable td{
    background-color:rgba(0,0,0,0.1);
    height:40px;
    border-radius:3px;
    padding-left:10px;
    padding-right:0px;

}
.editIcon{
    margin-left:20px;
    transition:2s;
    border-radius:50%;
    border:3px solid transparent;
}
.editIcon:hover{
    background-color:rgb(150,150,150);
    cursor:pointer;
    border:3px solid rgb(200,200,200);
}
.display-flex{
    display:flex;
    justify-content:center;
    align-items:center;
}

.editPhotoIcon{
    width:32px;
    position:relative;
    bottom:90%;
    left:85%;
    transition:0.5s;
    border-radius:50%;
    border:3px solid transparent;
    padding:0px;
}
.editPhotoIcon:hover{
    background-color:rgb(150,150,150);
    cursor:pointer;
    border:3px solid rgb(200,200,200);
}
